.card-profile-info {
  display: flex;
  justify-content: flex-start;
  padding: 24px;
  margin: 0;
  box-shadow: none;
}

.title-info-profile {
  color: #4B4B4B;
  font-size: 1.25rem;
  font-weight: 400;
}

.quote {
  margin-top: 15px;
  width: 100%;
}

.triangle {
  margin-bottom: -5px;
  padding: 0;
}

.triangle img {
  position: relative;
  left: 21px;
  width: 15px;
}

.phrase {
  font-size: 0.75rem;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #EFF3F8;
}

.status {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  gap: 25px;
}

.fans-number {
  opacity: 0.5;
}

.box-emojis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
}

.trust {
  width: 70%;
}

.infos-profiles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 47px;
  gap: 24px;
}

.info-status {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}

.box-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-top: 240px
}

.musics,
.films {
  width: 100%;
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 17px;
}

.tags dd {
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid #ED6D25;
  padding: 5px 16px;
}

.more {
  display: none;
}

.see-more {
  font-size: 14px;
  color: var(--primary-color);
  text-decoration-line: none;
}

@media (min-width: 768px) {
  .card-profile-info {
    max-width: 100%;
    display: flex;
    padding: 24px;
  }

  .title-info-profile {
    font-size: 1.5rem;
  }

  .phrase {
    font-size: 0.9rem;
  }

  .trust {
    width: auto;
  }

  .box-tags {
    margin-top: 120px;
  }

  .more {
    display: block;
  }
}

@media (min-width: 1200px) {
  .card.card-profile-info {
    width: 100%;
    max-width: calc(592px - 48px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .title-info-profile {
    font-size: 1.625rem;
  }

  .phrase {
    font-size: 1rem;
  }

  .box-tags {
    margin-top: 203px;
  }
}