#header-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 60px;
  background-color: #FFF;
  padding: 18px;
}

.title-header-register {
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}